<%= stylesheet_link_tag "application.css" %>
<div>
    <p>
      <h1>Hello, Rails!</h1>
    </p>
    <p>
      <%= link_to 'My Blog', controller: 'articles' %>
      <%= link_to 'New article', new_article_path %>
    </p>
</div>
